
@{
    ViewBag.Title = "TeacherAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teacher Allocation</h2>

<style>
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
</style>



<br />
<div class ="row">
    @Html.ActionLink("List Teacher Allocation", "TeacherAllocation", "Teachers", null, new { @class = "btn btn-primary" }) 
</div>
<br/>

<form id="TeacherEntry" method="post" action="/api/teachers/teacherAllocation">

<div class="row">
            <div class="col-xs-3">
                Select Teacher Name <br />
                <select id="selectTeacher" class="dropdown form-control input-xs required" name="teacherID"></select>
            </div>
            
            <div class="col-xs-3">
                Select Subject <br />
                <select id="selectSubject" class="dropdown form-control input-xs required" name="subjectID"></select>
            </div>
            
            <div class="col-xs-3">
                Select Grade <br />
                <select id="selectGrade" class="dropdown form-control input-xs required" name="gradeID"></select>
            </div>
        
            
</div>

    <br />
    <div class="row">
        <div class="form-group">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Add Teacher Assignment</button>
        </div>
    </div>
</form>
    

@section scripts
{

    <script>


        $(document).ready(function() {
            //var userId = document.cookie;


            $("#TeacherEntry").submit(function(event) {
                event.preventDefault();
                var dat = $("#TeacherEntry").serializeArray();
                console.log(dat);
                var actionURL = event.currentTarget.action;

                $.ajax({
                    url: actionURL,
                    type: "post",
                    data: dat
                });
                bootbox.confirm("Congratulations! Teacher Allocation Complete. Want to do another allocation?",
                    function(result) {
                        if (result) {
                            window.location = '@Url.Action("TeacherAllocation", "Teacher")';
                        } else {
                            window.location = '@Url.Action("ListTeacherAllocation", "Teacher")';
                        }
            });
        });

        //Show Teachers
        var select = $("#selectTeacher");
        $.ajax({
            url: "/api/Teachers/ListTeachers",
            type: "get",
            success: function(data) {
                $.each(data,
                    function(i, data) {
                        select.append("<option value='" + data.id + "'>" + data.firstName + " "+ data.lastName + "</option>");
                    });
            }
        });

        //Show Subjects
        var select2 = $("#selectSubject");
        $.ajax({
            url: "/api/Subjects",
            type: "get",
            success: function (data) {
                $.each(data,
                    function (i, data) {
                        select2.append("<option value='" + data.id + "'>" + data.name +"</option>");
                    });
            }
        });

            //Show Grades
        var select3 = $("#selectGrade");
        $.ajax({
            url: "/api/Grades",
            type: "get",
            success: function (data) {
                $.each(data,
                    function (i, data) {
                        select3.append("<option value='" + data.id + "'>" + data.classDescription + "</option>");
                    });
            }
        });

    });

    </script>
}
