
@{
    ViewBag.Title = "ListStudentsbyParent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Select Student</h1>

<table id="ListStudentsByParent" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Student Name</th>
            <th> Date of Birth </th>
            <th>Parent(s) Name</th>
            <th> Assessments</th>
            <th>Attendance</th>
            <th>Class Allocations</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function() {
            var table = $("#ListStudentsByParent").DataTable(
            {
                ajax: {
                    async: true,
                    url: "/api/student/getStudentsByParent",
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "studentName",
                        render: function (studentName) {
                            return studentName;;
                        }
                    },
                    {
                        data: "studentDOB",
                        render: function (studentDOB) {
                            return studentDOB;;
                        }
                    },
                    {
                        data: "parentsName",
                        render: function (parentsName) {
                            return parentsName;;
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-assessments' data-student-id =" +
                                data +
                                ">Assessments </button>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-attendance' data-student-id =" +
                                data +
                                ">Attendance </button>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-classAllocation' data-student-id =" +
                                data +
                                ">Class Allocation </button>";
                        }
                    }
                ]
            });

        })

        //Assessment Button
        $("#ListStudentsByParent").on("click",
            ".js-assessments",
            function () {
                var button = $(this);
                var location = "/studentdetail/studentAssessmentByParent/" +
                    button.attr("data-student-id") ;
                window.location= location;

            });
</script>
}