@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> About US</h2>

<p>
    We are a group of IT enthusiasts who wanted to help our local Khalsa School run in in more efficient
    and streamlined manner. This led us to building a small application to help with streamlining the day to day logistics for 
    parents, teachers and administrators
</p>

<p> If you are interested to help, please <a href='/Home/Contact'> contact</a> us </p>
