@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>


<address>
    Harinder Soin <br/>
    <a href="mailto:harindersoin@gmail.com">harindersoin@gmail.com</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@SchoolApp.com</a><br />
</address>