@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the School App</h1>
    <p class="lead">This app will help manage and keep track of student activities for your school</p>
    <p><a href="home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>For Parents</h2>
        <p>Manage all activities as a parent such as register your child(ren), review their attendance, their grades, send message to teachers, review their homework.</p>
        <p><a class="btn btn-default" href="/parent/index">Register as Parent &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/enterstudent">Register your Child(ren) &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/ListStudentsByParent">Review Activity for your Child(ren) &raquo;</a></p>

    </div>
    <div class="col-md-6">
        <h2>For Teachers</h2>
        <p>Manage your classes, enter attendance, student grades, send homework, send message to parent(s)</p>
        <p><a class="btn btn-default" href="teacher/register">Register as teacher &raquo;</a></p>
    </div>
</div>