@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the School App</h1>
    <p class="lead">This app will help manage and keep track of student activities for your school</p>
    <p><a href="home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>For Parents</h2>
        <p>Manage all activities as a parent such as register your child(ren), review their attendance, their grades, send message to teachers, review their homework.</p>
        <p><a class="btn btn-default" href="/parent/index">Register as Parent &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/enterstudent">Register your Children &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/ListStudentsByParent">View Student Details &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/ListStudentsByParent">Renew Registration &raquo;</a></p>

    </div>

    <div class="col-md-3">
        <h2>For Teachers</h2>
        <p>Manage your classes, enter attendance, student grades, send homework, send message to parent(s)</p
        <p><a class="btn btn-default" href="/teacher/listteacherallocationbyteacher">View Class Assignments &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/teacherallocation">Log Attendance &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/teacherallocation">Enter Evaluations &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>For Students</h2>
        <p>View your grades, send email to teachers, view your homework etc. </p>
        <p><a class="btn btn-default" href="/student/ListStudentByStudent">View Activity &raquo;</a></p>
        <p><a class="btn btn-default" href="/student/ListScheduleByStudent">View your schedule &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>For Administrators</h2>
        <p>Create class schedule, assign student to classes, assign teachers to classes etc. </p>
        <p><a class="btn btn-default" href="/studentdetail/liststudentassignment">Maintain Student Assignments &raquo;</a></p>
        <p><a class="btn btn-default" href="/classallocation/listclassallocations">Maintain Class Schedule &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/registerteacher">Register a Teacher &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/listTeacherAllocation">Maintain Teacher Assignments &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/listTeacherAllocation">Create a new Subject &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/listTeacherAllocation">Maintain Fee Submission &raquo;</a></p>
        <p><a class="btn btn-default" href="/teacher/listTeacherAllocation">Prepare for new Academic Year &raquo;</a></p>
    </div>
</div>