
@{
    ViewBag.Title = "RegisterParents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
    <style>
        #submitButton {
            text-align: center !important;
        }
    </style>
    <meta charset="utf-8">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <h3>Register</h3>
        <form data-toggle="validator" role="form" class="well form-horizontal" action="/api/parent " method="post" id="regForm">
            <fieldset>
                <!--First Name1-->
                <div class="form-group">
                    <label for="inputName" class="col-md-3 control-label">Parent 1 First Name</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputFirstName1" name="parent1Name" placeholder="John" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Last Name1-->
                <div class="form-group">
                    <label for="inputLastName" class="col-md-3 control-label">Parent 1 Last Name </label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputLastName1" name="parent1LastName" placeholder="Smith" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Email1-->
                <div class="form-group">
                    <label for="inputEmail" class="col-md-3 control-label">Parent 1 Email</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" id="inputEmail1" name="email1" placeholder="Email" data-error="Please enter a valid email address" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Phone #1-->
                <div class="form-group">
                    <label for="inputPhone" class="control-label col-md-3">Parent 1 Phone Number</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" class="form-control" id="inputPhone1" name="mobile1" placeholder="6178331878" data-minlength="10" data-maxlength="10" data-error="Please enter a valid phone number" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--First Name2-->
                <div class="form-group">
                    <label for="inputName" class="col-md-3 control-label">Parent 2 First Name</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputFirstName2" name="parent2Name" placeholder="John" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Last Name2-->
                <div class="form-group">
                    <label for="inputLastName" class="col-md-3 control-label">Parent 2 Last Name </label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputLastName2" name="parent2LastName" placeholder="Smith" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Email2-->
                <div class="form-group">
                    <label for="inputEmail" class="col-md-3 control-label">Parent 2 Email</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" id="inputEmail2" name="email2" placeholder="Email" data-error="Please enter a valid email address" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Phone #2-->
                <div class="form-group">
                    <label for="inputPhone" class="control-label col-md-3">Parent 1 Phone Number</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" class="form-control" id="inputPhone2" name="mobile2" placeholder="6178331878" data-minlength="10" data-maxlength="10" data-error="Please enter a valid phone number" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Address-->
                <div class="form-group">
                    <label for="inputAddress" class="control-label col-md-3">Address</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Address" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--City-->
                <div class="form-group">
                    <label for="inputCity" class="control-label col-md-3">City</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" class="form-control" id="inputCity" name="city" placeholder="City" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--State-->
                <div class="form-group">
                    <label class="control-label col-md-3">State</label>
                    <div class="input col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="stateID" id="selectState" class="form-control selectpicker" required>
                               
                            </select>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Phone # Home-->
                <div class="form-group">
                    <label for="inputPhone" class="control-label col-md-3">Home Phone Number</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" class="form-control" id="homePhone" name="homePhone" placeholder="6178331878" data-minlength="10" data-maxlength="10" data-error="Please enter a valid phone number" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <!--Zipcode-->
                <div class="form-group">
                    <label for="inputZipcode" class="control-label col-md-3">Zipcode</label>
                    <div class="inputGroupContainer col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="number" data-minlength="5" data-maxlength="5" class="form-control" name="zip" id="inputZipcode" placeholder="Zipcode" data-error="Please enter your 5 digit Zipcode" required>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group" id="submitButton">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            //var userId = document.cookie;

            var select = $("#selectState");
            $.ajax({
                url: "/api/State",
                type: "get",
                success: function (data) {
                    $.each(data,
                        function (i,data) {
                            select.append("<option value='" + data.id +"'>"+ data.stateAbbr +"</option>");
                        });
                }
            });
            //Post
            $("#regForm").submit(function (event) {
                event.preventDefault();
                var dat = $("#regForm")
                console.log(dat);
                var actionURL = event.currentTarget.action;

                $.ajax({
                    url: actionURL,
                    type: "post",
                    data: dat.serialize(),
                    success: function (data) {
                        console.log("Submission successful");
                        console.log(data);
                    },
                    error: function (data) {
                        console.log("Error has occured");
                        console.log(data);
                    },
                });
                // console.alert("Student has been registered");
            });


        });
    </script>
}   